a {
  color: #393e46;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: #333;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.sc3::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.sc3::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.sc3::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}


p {
  font-size: 1em;
  letter-spacing: 1px;

}

small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 1em;
}

small p {
  margin: 0 0 0 .5em;
  padding: 0;

}

small a {
  text-decoration: none;
}

small a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.title {
  font-size: 2.5em;
  text-align: left;
  color: black;
  margin-top: 1.5em !important;
  margin-left: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.SearchResults {
  font-size: 1.3em;
  text-align: left;
  margin-left: 7.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.SearchForm {
  display: grid;
  margin: 0 2em;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.SearchInput {
  font-size: 1em;
  height: 2em;
  padding: 0.3em 1.5em;
  line-height: 1em;
  border-radius: 5px;
  border: medium solid hsl(0, 0%, 90%);
  transition: 0.3s;
  background-color: white;
}

.SearchInput::placeholder {
  color: hsl(0, 0%, 40%);
  letter-spacing: 1px;
}

.SearchInputSmall {
  display: none;
}

.SearchButtonSmall {
  display: none;
}

.SearchInput:hover {
  border: medium solid hsl(0, 0%, 78%);
}

.SearchInput:focus {
  outline: none;
}

.SearchButton {
  background: -webkit-linear-gradient(-180deg, #00c6ff 0%, #4d95ee 100%);
  color: white;
  padding: 0.6em 1.2em;
  margin-right: 2em;
  border-radius: 0px;
  border: 0px;
  font-size: 1.2em;
  letter-spacing: 1px;
  cursor: pointer;
}

.SearchButton:hover {
  background: -webkit-linear-gradient(-180deg,
      hsl(193, 100%, 55%) 0%,
      hsl(213, 100%, 67%) 100%);
  border: 0px;
}

.SearchButtonIcon {
  position: relative;
  top: 3px;
  margin-right: 0.5em;
}

.SearchButtonSmall {
  display: none;
}

.ClearButton {
  display: flex;
  justify-content: center;
  align-self: left;
  width: auto;
  background: hsl(0, 0%, 60%);
  color: white;
  padding: 1em 1.3em;
  margin-left: 10em;
  border-radius: 10px;
  border: 0px;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
}

.MovieTitle {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: .5em;
}

.MenuBars {
  display: none;
}

.Navbar {
  background-color: #ffffff;
  font-size: 1em;
  letter-spacing: 1px;
  overflow: auto;
  padding: 1em;
  margin-bottom: 0px !important;
  box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
}

.Navbar a {
  color: #222;
  padding: 0.7em 1.5em;
  float: right;
  text-decoration: none;
  font-size: 1.2em;
}

.Navbar a:hover {
  background: #f7f7f7;
  border-radius: 30px;
  padding: 0px, 15px;
}

.NavbarMobile {
  display: none;
}

/* .slick-track {
  opacity: 1;
  width: 100% !important;
} */

.slick-arrow {
  display: none !important;
}

.Backdrop {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -17px;
}

.BackdropText {
  text-align: left;
  position: relative;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
}

.BackdropText h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.BackdropText h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  letter-spacing: 2px;
  text-decoration: underline;
}

.MovieCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.MovieCard {
  /* flex-basis: 20%; */
  margin: 1em;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 185px;
  height: 420px;
}

.MoviePosterContainer {
  margin: 0 auto 0 auto;
  display: block;
  width: 100%;
  max-width: 185px;
  height: auto;
}

.MoviePoster {
  position: relative;
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.MovieDetail {
  display: flex;
  align-items: flex-start;
  margin: 0 auto 4em auto;
  max-width: 1000px;
  padding: 3em;
  /* border: medium solid #cbcbcb; */
  border-radius: 20px;
  box-shadow: 1px 10px 11px rgba(0, 0, 0, 0.1);
}

.MovieImage {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 1.5em 4em 0 0;
}

.MovieInfo {
  margin: 0 auto;
  flex: 1;
}

.CastInfoSmall {
  display: none;
}

.CastInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-top: -15px;
}

.CastInfo p {
  display: flex;
  font-size: 1em;
  align-items: center;
  padding: 0.5em 1.4em;
  border-radius: 100px;
  background: #f2f2f2;
  margin: 1em;
}

.CastInfo img {
  border-radius: 25px;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.MovieTrailer {
  border-radius: 5px;
}

/* RESPONSIVE STYLING */
/* RESPONSIVE STYLING */
/* RESPONSIVE STYLING */

@media screen and (min-width: 0px) and (max-width: 766px) {
  .Navbar {
    display: none;
  }

  .MenuBars {
    display: none;
  }

  .NavbarMobile {
    display: block;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 200;
  }

  .NavbarMobile ul {
    padding-right: 1.5em;
    padding-left: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    list-style: none;
  }

  .NavbarMobile li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.6em;
  }

  .NavbarMobile li svg {
    font-size: 2em;
  }

  .active {
    color: #00a2ff;
  }

  .title {
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 0;
    margin: .7em .8em;
  }

  .SearchForm {
    display: flex;
    margin: 1em 1.5em 1em 0em;
  }

  .SearchInputSmall {
    flex-grow: 1;
    font-size: 1em;
    height: 2.5em;
    padding: 7px 30px 7px 50px;
    border-radius: 10px;
    background-color: #f2f2f2;
    color: #454545;
    border: 0;
    display: block;
  }

  .SearchInputSmall::placeholder {
    color: #808080;
    letter-spacing: 1px;
  }

  .SearchButtonSmall {
    display: none;
    background: -webkit-linear-gradient(-180deg, #00c6ff 0%, #4d95ee 100%);
    color: white;
    padding: 15px;
    margin-left: 0.4em;
    border-radius: 15px;
    border: 0px;
    font-size: 1.2em;
    cursor: pointer;
  }

  .SearchButtonIcon {
    position: relative;
    color: #808080;
    top: 0;
    left: 45px;
  }

  .SearchButton {
    display: none;
  }

  .SearchInput {
    display: none;
  }

  .MovieDetail {
    display: grid;
    justify-content: center;
    margin: 2em auto;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }

  .MovieImage {
    width: 100%;
    height: auto;
    align-self: center;
    max-width: 300px;
    border-radius: 10px;
    margin: 0 auto;
  }

  .MovieInfo {
    text-align: center;
  }

  .MovieTrailer {
    border-radius: 5px;
    max-width: 100%;
  }

  .Trailer {
    display: none;
  }
}

@media (min-width: 768px) {
  .Navbar {
    background-color: #ffffff;
    font-size: 1em;
    letter-spacing: 1px;
    overflow: auto;
    padding: 1em;
    margin-bottom: 5em;
    box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
  }

  .Navbar a {
    color: #222;
    padding: 0.7em 0.8em;
    float: right;
    text-decoration: none;
    font-size: 1.2em;
  }

  .SearchForm {
    display: flex;
    margin: 0 2em;
  }

  .SearchInput {
    flex-grow: 1;
    font-size: 1em;
    height: 2em;
    padding: 0.3em 1.5em;
    line-height: 1em;
    border-radius: 10px;
    border: medium solid hsl(0, 0%, 90%);
    transition: 0.3s;
    background-color: white;
  }

  .SearchInput::placeholder {
    color: hsl(0, 0%, 40%);
    letter-spacing: 1px;
  }

  .SearchButton {
    display: none;
  }

  .SearchButtonSmall {
    display: inline-block;
    background: -webkit-linear-gradient(-180deg, #00c6ff 0%, #4d95ee 100%);
    color: white;
    padding: 12px 15px 12px 15px;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 15px;
    border: 0px;
    font-size: 1.2em;
    cursor: pointer;
  }

  .CastInfoSmall {
    display: none;
  }

  .CastInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-top: -15px;
  }

  .CastInfo p {
    display: flex;
    font-size: 1em;
    align-items: center;
    padding: 0.5em 1.4em;
    border-radius: 100px;
    background: #f2f2f2;
    margin: 1em;
  }

  .CastInfo img {
    border-radius: 25px;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }
}

@media (min-width: 941px) {
  .Navbar {
    background-color: #ffffff;
    font-size: 1em;
    letter-spacing: 1px;
    overflow: auto;
    padding: 1em;
    margin-bottom: 5em;
    box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.06);
  }

  .Navbar a {
    color: #222;
    padding: 0.7em 0.8em;
    float: right;
    text-decoration: none;
    font-size: 1.2em;
  }

  .SearchForm {
    display: flex;
    margin: 0 2em;
  }

  .SearchInput {
    flex-grow: 1;
    font-size: 1em;
    height: 2em;
    padding: 0.3em 1.5em;
    line-height: 1em;
    border-radius: 10px;
    border: medium solid hsl(0, 0%, 90%);
    transition: 0.3s;
    background-color: white;
  }

  .SearchInput::placeholder {
    color: hsl(0, 0%, 40%);
    letter-spacing: 1px;
  }

  .SearchButton {
    background: -webkit-linear-gradient(-180deg, #00c6ff 0%, #4d95ee 100%);
    color: white;
    padding: 0.6em 1.2em;
    margin-right: 2em;
    border-radius: 10px;
    border: 0px;
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
  }

  .SearchButtonSmall {
    display: none;
  }
}

@media (max-width: 900px) {
  .MovieDetail {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 4em auto;
    max-width: 1000px;
    padding: 3em;
    border-radius: 20px;
    box-shadow: 1px 10px 11px rgba(0, 0, 0, 0.1);
  }

  .MovieImage {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: 1.5em 4em 0 0;
  }

  .MovieInfo {
    margin: 0 auto;
    flex: 1;
  }

  .MovieTrailer {
    border-radius: 5px;
    width: 50vw;
  }
}

@media (max-width: 639px) {
  .MovieDetail {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 4em auto;
    max-width: 1000px;
    padding: 3em;
    border-radius: 20px;
    box-shadow: 1px 10px 11px rgba(0, 0, 0, 0.1);
  }

  .MovieImage {
    width: 60vw;
    height: auto;
    border-radius: 10px;
    margin: 1.5em 0 2em 0;
  }

  .MovieInfo {
    margin: 0 auto;
  }

  .MovieTrailer {
    border-radius: 5px;
    width: 82vw;
  }
}